<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript" src="comm.js"></script>
    <meta charset="UTF-8"></meta>
    <title>日付登録画面</title>
</head>
<body>
    <h1>日付登録画面</h1>
    <form method="post" action="/date/register">
	<a href="/date/handring">更新</a>
	<a href="/date">戻る</a>
        <!-- <button type="submit" onclick="transferhandring();return false()" value="更新" >更新</button>
        <button type="submit" onclick="'./DateRegister.html'" value="戻る" >戻る</button> -->
    </form>
<body>
</html>

