<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>日付登録画面</title>
</head>
<body>
    <h1>日付登録画面</h1>
    <form method="post" action="/">
        <!-- ポイント：th:value -->
       <!--  好きな文字を入力：<input type="text" name="text1" th:value="${text1_value}" /> -->
        <input type="submit" value="クリック" />
    </form>
    <br />
    <form method="post" action="/register">
        <!-- 従業員IDを入力：<input type="text" name="text2" th:value="${text2_value}" /> -->
        <input type="submit" value="更新" />
        <input type="submit" value="戻る" />
    </form>
<body>
</html>