<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF8"></meta>
	<!--Bootstrapの設定 -->
	<link th:href="@{/webjars/bootstrap/3.3.71/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.71/js/bootstrap.min.js}"></script>

	<title>Login</title>
</head>

<body class="text-center">
	<h1>Login</h1>
	<form method="post" action="/login">
	<!-- ログインエラーメッセージの表示 -->
	<!-- エラーメッセージ -->
	<!-- セキュリティのエラーがあればエラーメッセージを表示する -->
	<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
		th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
		class="text-danger">
		ログインメッセージ</p>

		<!-- ユーザーID -->
		<label>ユーザーID</label>
		<input type="text" name="userId" /><br />
		<br />
		<!-- パスワード -->
		<label>パスワード</label>
		<input type="password" name="password" /><br />
		<br />
		<!-- ログインボタン -->

		<button class="btn btn-primary" type="submit">ログイン</button>
	</form>
	<br />

	<a th:href="@{'/signup'}">ユーザー新規登録はこちら</a>
</body>
</html>
