<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF8"></meta>
	<title>ログイン</title>
</head>

<body class="text-center">
	<h1 th:text="ログイン"></h1>
	<!-- ログインエラーメッセージの表示 -->
	<!-- エラーメッセージ -->
	<!-- セキュリティのエラーがあればエラーメッセージを表示する -->
	<div th:if="${param.error}" class="text-danger">
		ユーザー名、またはパスワードが正しくありません
	</div>

	<form th:action="@{'/login'}" th:object="${loginForm}" method="post">
	<div class="form-group" th:classappend="${#fields.hasErrors('userId')}? 'has-error'">
		<label for="userId" class="control-label">userId</label>
        <input id="userId" type="text" class="form-control" th:field="*{userId}" name="userId">
        <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="error-massages">error!</span>
	</div>

	<div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
		<label for="password" class="control-label">password</label>
        <input id="password" type="text" class="form-control" th:field="*{password}" name="password">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-massages">error!</span>
	</div>

		<!-- ログインボタン -->
		<button class="btn btn-primary" type="submit">ログイン</button>
	</form>
	<br />

	<a th:href="@{'/signup'}">ユーザー新規登録はこちら</a>
</body>
</html>
